body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: cadetblue;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  gap: 0;
  width: 600px;
  height: 600px;
  border: 2px solid black;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.knight {
  background-image: url("image/knight.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.number {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 12px;
  color: cadetblue;
}

.trace {
  background-color: rgba(255, 0, 0, 0.5);
  animation: fadeOut 1s forwards;
}
